<html>
    <head>
      {% if title %}
      <title>{{ title }} - Password Generator</title>
      {% else %}
      <title>Welcome to my Password Generator</title>
      {% endif %}
    </head>
    <body>
        <div>Password Generator 
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a> </li>
            </ul> 
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>